.button.red{
    color: var(--color-background);
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.button.border{
    color: var(--color-main-2);
    border: var(--button-border) solid var(--color-main-2);
    background-color: var(--color-background);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: clamp(1rem, 5vw, 3rem);
}

.button img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    
}