.carousel{
    background-color: var(--color-secondary-2);
    position: relative;

    padding: 2rem !important;
    margin-top: clamp(2rem, 5vw, 100px);
    width: 100%;
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'information image';
    align-items: center;
    gap: clamp(0.5rem, 5vw, 2rem);
}

.carousel .product-image{
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1/1;
    grid-area: image;
}

.carousel .information{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 50px);
    grid-area: information;
    justify-self: end;
}



.carousel::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;

        width: 40%;
        height: 100%;

        background-color: var(--color-main-2);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

.carousel > * {
    z-index: 2;   
}

@media screen and (max-width: 750px){
    .carousel{
        
        padding: 0 !important;
        padding-bottom: 2rem !important;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'image'
                            'information';


    }
    .carousel .product-image{
        width: 100%;
        height: 100%;
        max-width: none;
        aspect-ratio: auto;
        /* overflow: hidden; */
            
    }
    
    
    .carousel .information{
        margin: 0 1rem;
        justify-self: start;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        h2{
            font-size: var(--h4);
        }
    }

    .carousel::after {
        width: 40%;
        height: 25%;

    }
}