.carousel{
    background-color: var(--color-secondary-2);
    position: relative;
    overflow: hidden;

    padding: 2rem 3rem !important;
    margin-top: clamp(2rem, 5vw, 100px);
    width: 100%;
 
}
.carousel article{
    position: absolute;
    inset: 0;          
    width: 100%;        
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'information image';
    gap: clamp(0.5rem, 5vw, 2rem);
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.6s ease, opacity 0.6s ease;
    z-index: 5;
}

.carousel .product-image{
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1/1;
    grid-area: image;
}

.carousel .information{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 50px);
    grid-area: information;
    justify-self: end;
}



.carousel::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;

        width: 40%;
        height: 100%;

        background-color: var(--color-main-2);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

.carousel article> * {
    z-index: 2;   
}


#product-slide1:checked ~ article:nth-of-type(1),
#product-slide2:checked ~ article:nth-of-type(2),
#product-slide3:checked ~ article:nth-of-type(3) {
    position: relative;   
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;

}




.carousel .arrows label {
    display: none;
}

#product-slide1:checked ~ .arrows .slide1 {
    display: block;
}

#product-slide2:checked ~ .arrows .slide2 {
    display: block;
}

#product-slide3:checked ~ .arrows .slide3 {
    display: block;
}

.carousel .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;
    user-select: none;
}

.carousel .arrow.prev {
    left: 1rem;
}

.carousel .arrow.next {
    right: 1rem;
}

@media screen and (max-width: 750px){
    .carousel{
        
        padding: 0 !important;
        padding-bottom: 2rem !important;

        
        
    }
    .carousel article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'image'
                            'information';

    }
    .carousel .product-image{
        width: 100%;
        height: 100%;
        max-width: none;
        aspect-ratio: auto;
        /* overflow: hidden; */
            
    }
    
    
    .carousel .information{
        margin: 0 1rem;
        justify-self: start;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        h2{
            font-size: var(--h4);
        }
    }

    .carousel::after {
        width: 40%;
        height: 25%;

    }
}