.cart-items-container{
    gap: 40px;
}

.cart-item{
    width: 382px;
    display: grid;
    grid-template-columns: minmax(50px, 150px) 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;   
}
.cart-item .item-image{
   
    aspect-ratio: 1/1;
}
.cart-item .button-container{
    gap: 5px;
}

.cart-information{
    width: 100%;
    max-width: 207px;
    min-width: 200px;
}



@media screen and (max-width: 382px){
    .cart-item{
       
        width: 100%;
    } 
    .cart-item .item-image{
        width: 100%;
        height: auto;
    }
}