.summary-grid{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.summary-grid li{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.summary-grid li > * {
    justify-self: center;
}

.total-container{
    width: 100%;
    max-width: 400px;
}
.delivery-information{
    align-items: self-start;
}
.delivery-information div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
}
.delivery-information ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-information li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--small-text);
}

div.form-section{
    padding: 40px 80px;
}

.success-checkmark{
    width: 95px;
    height: 95px;
}
.success-checkmark img{
    width: 40px;
    height: auto;
    object-fit: contain;
}


@media screen and (max-width: 750px){
   .main-layout > section:not(:first-child) {
        padding: 0;
        
    }
    div.form-section{
        width: 100%;
        padding: 2rem 1rem;
        padding-bottom: 10rem;
        border-top: 1px solid var(--color-main-2);
    }
    .summary-grid li{
        gap: .5rem;
    }
    
}