.checkout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: clamp(1rem, 5vw, 100px);
}


.payment-method {
    gap: 1rem;
}

.payment-method label{
    width: 105px;
    height: 77px;
    background-color: var(--color-secondary-3);
    border-radius: var(--form-border-radius);

    border: 2px solid transparent;
    cursor: pointer;
    transition: border 200ms, transform 200ms;
}
.payment-method label div{
    max-height: 40px;
    width: auto;
   
}
.payment-method input:checked + label {
    border: 2px solid var(--color-main);
    transform: scale(1.05);
}

.checkout .form-section{
    width: 100%;
    max-width: 505px;
}
@media screen and (max-width: 990px){
    .checkout{
        gap: 0;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 927px){
    
    .checkout{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .checkout .form-section{
        order: 2;
    }
    #checkoutItems{
        order: 1;
        
    }
}