.summary-grid{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.summary-grid li{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.summary-grid li > * {
    justify-self: center;
}

.total-container{
    width: 100%;
    max-width: 400px;
}
.delivery-information{
    align-items: self-start;
}
.delivery-information div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
}
.delivery-information ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-information li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--small-text);
}