.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.space-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}

.txt-space-evenly{
    justify-content: space-between;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gap-1rem{
    gap: 1rem;
}

.full-size{
    height: 100%;
    width: 100%;
}

.italic{
    font-style: italic;
}
.main-color-2{
    color: var(--color-main-2);
}
.main-color{
    color: var(--color-main);
}

.added {
    background-color: #28a745 !important; 
    border-color: #28a745 !important;
    transform: scale(1.2);
    transition: transform 200ms ease, background-color 200ms ease;
}

.icon-image.added {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}