.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gap-1rem{
    gap: 1rem;
}

.full-size{
    height: 100%;
    width: 100%;
}
/*reuse txt-space-evenly*/
.txt-space-evenly{
    display: flex;
    justify-content: space-between;
    align-items: center;
}