header{
    position: fixed;
    width: 100%;
    height: var(--header-height);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 60px;


    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-main-2);


    z-index: 20;
}



.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu li a:not(.button){
    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation{
    position: relative;
}

#navigation input{
        position: absolute;
        width: var(--menu-lines-width);
        height: 50px;
        cursor: pointer;
        opacity: 0;
        z-index: 21;
        -webkit-touch-callout: none;
    }

    #navigation label span {
        display: block;
        width: var(--menu-lines-width);
        height: var(--menu-lines-height);
        margin: 8px 0;
        background-color: var(--color-main-2);
        border-radius: var(--button-border-radius);
        position: relative;
        z-index: 22;
    }

    .close-menu-icon{
        z-index: 22;
        
    }

@media screen and (max-width: 750px){

    .header{
        padding: 10px 20px;
    }
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        transform: translateX(100%);
        transition: transform 0.5s ease, opacity 0.5s ease;

        margin-top: var(--header-height);
        padding: 50px;
        background-color: var(--color-secondary-2);
        z-index: 19;

        flex-direction: column;
        align-items: flex-end;
        gap: 3rem;
    }
    
    #navigation input:checked ~ ul.menu{
        transform: translateX(0);
        opacity: 1;
    }

   
}
