.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 60px;

    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-main-2);
}



.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu li a:not(.button){
    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}


