main{
    min-height: 100vh;
    padding-top: var(--header-height);

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-color-2{
    color: var(--color-main-2);
}

