
.single-product-container{
    width: 100%;
    max-width: 786px;
    padding: 0 10px; 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'image information'
                        'description description';
    column-gap: 1rem;
}

.single-product-container .product-image{
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1/1;
}

.single-product-container .icon{
    max-height: 37px;
    max-width: 37px;
    aspect-ratio: 1/1;
    margin-top: auto;
}



.single-product-container .description{
    grid-area: description;   
}

.tags{
    color: var(--color-main);
    font-style: italic;
}

.single-product-container .product-information{
    width: 354px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media screen and (max-width: 750px){
    .single-product-container{
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'image'
                            'information'
                            'description';
    }
    .single-product-container .product-image{
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: 600px;
            aspect-ratio: auto; 
        }

    .single-product-container .product-information{
        position: relative;
        width: 100%;
        gap: 20px;
        padding: 10px;
    }
    .single-product-container .button{
        align-self: center;
        max-width: 390px;
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .single-product-container .icon{
        margin-top: 0;
        position: absolute;
        bottom: 30%;
        right: 0;
        margin-right: 10px;
    }

    .single-product-container .description {
       padding: 0 10px;
        
    }
    
}

@media screen and (max-width: 440px){
    .single-product-container .product-image{
            max-height: 400px;
        }
}