.single-product-container{
    width: 100%;
    max-width: 608px;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'image information'
                        'description description';
    column-gap: 2rem;
}

.single-product-container .icon{
    max-height: 37px;
    aspect-ratio: 1/1;
}



.single-product-container .description{
    grid-area: description;  
    
}