@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /*colors*/
    --color-main: #BF1A1A;
    --color-main-2: #060771;

    --color-secondary: #FF6C0C;
    --color-secondary-2: #ECECEC;
    --color-secondary-3: #FFFFFF;

    --color-background: #F9F5F0;
    --color-text: #1E1E1E;
    --gray: #959595;

    /*values*/
    --button-border-radius: 2rem;
    --button-border: 2px;
    --form-border-radius: 1rem;

    --h1: 48px;
    --h2: 40px;
    --h3: 32px;
    --h4: 24px;
    --h5: 20px;

    --p: 16px;
    --small-text: 14px;
    --button: 14px;
    --placeholder-font-size: 16px;
    --highlight-font-size: 20px;

    --shadow: 0px 3px 13px 0px rgba(0,0,0,0.25);
    --menu-lines-width: 37px;
    --menu-lines-height: 2px;

    --header-height: 113px;
 
    /*fonts*/
    --font-main: "Roboto Mono", monospace;
    --font-secondary: "Roboto", sans-serif;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, a, button, .h5, .button-text, .h4{
    font-family: var(--font-main);
    font-weight: 500;
}
h1{
    font-size: var(--h1);
}
h2{
    font-size: var(--h2);
    margin: 0;
    padding: 0;
}
h3{
    font-size: var(--h3);
}
h4, .h4{
    font-size: var(--h4);
}
h5, .h5{
    font-size: var(--h5);
    overflow: hidden;
    text-overflow: ellipsis;
}
.h5-ajustable{
    font-size: min(var(--h5), max(14px, 100%)); 
    overflow: hidden;
    text-overflow: ellipsis;
}
p{
    font-size: var(--p);
}
.button-text{
    font-size: var(--button);
}
.highlight{
    font-size: var(--h5);
    font-weight: 500;
}
form input{
    border-radius: var(--button-border-radius);
    border: none;
    background-color: var(--color-secondary-3);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 345px;
    /* box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow); */
}
form label{
    font-family: var(--font-main);
    font-weight: 500;
    font-size: var(--button);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

::placeholder{
    color: var(--gray);
    font-size: var(--placeholder-font-size);
    font-style: italic;
    font-family: var(--font-secondary);
}

.button{
    text-decoration: none;
    font-size: var(--button);
    color: var(--color-background);
    border-radius: var(--button-border-radius);
    border: var(--button-border) solid var(--color-main-2);
    background-color: var(--color-main-2);
    padding: 10px clamp(16px, 5vw, 45px);

    display: flex;
    width: fit-content;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    white-space: nowrap;
}
.shadow{
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
}
.under-shadow{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remove-default{
    padding: 0;
    margin: 0;
}
a.reset{
    all: unset;
}

.hidden{
        display: none !important;
    }
@media screen and (min-width: 750px){
    .hidden-on-desktop{
        display: none !important;
    }
    
}
@media screen and (max-width: 750px){
    
    :root{
        --header-height: 72px;
    }
}